<div id="swagger_sidebar" class="collapse col-12 col-lg-3">
    <div id="auth_main_container" class="collapse">
        <div class="row bg-light">
            <div class="col-12 pt-3">
                <button type="button" class="close d-sm-block d-lg-none" data-toggle="collapse" data-target="#auth_main_container">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="auth_main_container">
                    <div class="form-group">
                        <label for="input_baseUrl">URL</label>
                        <input type="text" autocorrect="off" class="form-control form-control-sm" id="input_baseUrl" placeholder="http://example.com/api">
                    </div>
                    <div class="form-group">
                        <label for="input_apiKey">Token</label>
                        <div class="input-group input-group-sm">
                          <input type="text" autocorrect="off" class="form-control" id="input_apiKey" placeholder="Enter api key or token">
                          <div class="input-group-append">
                            <button data-add-scope id="explore" class="btn btn-secondary" type="button"><i class="fa fa-arrow-right"></i></button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-top mb-3">
        <div id="sticky_nav" class="pt-2 pb-2">
            <div class="row">
                <div data-navigator>
                    <div id="resources_nav" data-children=".parent_menu">
                        <nav class="nav flex-column d-lg-none">
                            <a href="#auth_main_container" class="nav-link" data-toggle="collapse">Swagger Resource</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light d-none d-lg-block">
            {{#if info}}
                <div class="card-body">
                    <h5 class="card-title">{{info.title}}</h5>
                    <p class="card-text">{{{info.description}}}</p>  

                    {{#if info.contact.email}}
                        <p class="card-text">
                            <strong>Contact</strong>: <a href="mailto:{{info.contact.email}}?subject={{info.title}}">{{info.contact.email}}</a>
                        </p>
                    {{/if}}
                    {{#ifCond basePath '||' info.version}}
                        <p class="card-text">
                            <span class="text-muted text-uppercase">
                                {{#if basePath}}<small>Base URL:</small> {{basePath}}{{/if}}
                                {{#ifCond basePath '&&' info.version}} &nbsp;|&nbsp; {{/ifCond}}
                                {{#if info.version}}<small>api version:</small> {{info.version}}{{/if}}
                            </span>
                        </p>
                    {{/ifCond}}
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div id="resources_container" class="col-12 col-lg-9">
    <div id="resources" class="samples-collapsed"></div>
</div>
