<div id="swagger_sidebar" class="col-lg-3 col-xl-2 sps sps--abv">
    <div id="auth_main_container" class="collapse {{showAuth securityDefinitions}}">
        <div class="row">
            <div class="col-12">
                <button type="button" class="close d-sm-block d-lg-none" data-toggle="collapse" data-target="#auth_main_container">
                  <i class="fal fa-times"></i>
                </button>
                <div id="auth_options">
                </div>
            </div>
        </div>
    </div>
    <div id="sticky_nav_wrapper" class="sticky-top collapse mb-3">
        <div id="sticky_nav" class="pt-2 pb-2">
            <div class="row" data-navigator>
                <div id="resources_nav" data-children=".parent_menu">
                    <nav class="nav flex-column d-lg-none {{showAuth securityDefinitions}}">
                        <a href="#auth_main_container" class="nav-link" data-toggle="collapse">Swagger Resource</a>
                    </nav>
                    <div class="col-12 d-none d-lg-block"><label class="text-uppercase mt-3 mb-0">API Reference</label></div>
                </div>
            </div>
        </div>
        <div class="card d-none d-lg-block">
            {{#if info}}
                <div class="card-body">
                    <h5 class="card-title">{{info.title}}</h5>
                    <p class="card-text">{{{info.description}}}</p>  

                    {{#if info.contact.email}}
                        <p class="card-text">
                            <strong>Contact</strong>: <a href="mailto:{{info.contact.email}}?subject={{info.title}}">{{info.contact.email}}</a>
                        </p>
                    {{/if}}
                    {{#ifCond basePath '||' info.version}}
                        <p class="card-text">
                            <span class="text-muted text-uppercase">
                                {{#if basePath}}<small>Base URL:</small> {{basePath}}{{/if}}
                                {{#ifCond basePath '&&' info.version}} &nbsp;|&nbsp; {{/ifCond}}
                                {{#if info.version}}<small>api version:</small> {{info.version}}{{/if}}
                            </span>
                        </p>
                    {{/ifCond}}
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div id="resources_container" class="col-lg-9 col-xl-10">
    <div id="resources" class="samples-collapsed"></div>
</div>
