<div class="operations">
    <div class="{{method}} operation" id="{{parentId}}_{{nickname}}">
        <div class="row">
            <div class="content col-lg-6 pt-3 pb-3">
                <div class="heading mb-3">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <a class="opperation_link" href="#!/{{encodedParentId}}/{{nickname}}"><h2 class="operation-title">{{summary}}</h2></a>
                        </div>
                        <a href="javascript:;" class="toggle-samples text-nowrap text-muted">
                            <small class="text">Show Samples</small> <i class="fa fa-code"></i>
                        </a>
                    </div>
                    <h4>
                        <span class="http_method badge {{#if deprecated}}badge-secondary{{else}}{{methodBadgeClass method}}{{/if}}">{{method}}</span>
                        <span class="path text-muted">{{path}}</span>
                    </h4>
                </div>

                {{#if deprecated}}
                    <h6>Warning: Deprecated</h6>
                {{/if}}
                {{#if description}}
                    <div class="markdown action-summary">{{{description}}}</div>
                {{/if}}


                <form accept-charset="UTF-8" class="sandbox">

                    {{#if parameters}}
                        <h6>Parameters</h6>
                        <div data-content class="operation-params card card-body pb-1 bg-light mb-3" id="parm-{{parentId}}_{{nickname}}"></div>
                    {{/if}}

                    <h6 data-control>Test this endpoint</h6>

                    <div id="test-{{parentId}}_{{nickname}}">
                        <div class="sandbox_header mb-5" data-content>
                            <input class="submit btn btn-primary text-uppercase" name="commit" type="submit" value="Try"
                                   data-toggle="modal" data-target="#get_clients-modal-request">

                            {{#oauth}}
                                <button type="button" class="api-ic ic-off float-right btn btn-outline-secondary text-uppercase">Oauth</button>
                            {{/oauth}}
                        </div>
                        {{#if type}}
                            <div class="response-content-type card card-body pb-3 bg-light mb-3"/>
                        {{/if}}
                    </div>

                    {{#if responseMessages}}
                        <h6 class="pt-3" data-control>
                            Responses
                        </h6>

                        <div data-content class="responses-wrapper table-responsive" id="response-{{parentId}}_{{nickname}}">
                            <table class="table">
                                <tbody class="operation-status">
                                </tbody>
                            </table>
                        </div>
                    {{/if}}
                </form>
            </div>
            <div class="samples col-lg-6 pt-3 pb-3 bg-secondary">
                <span class="model-signature"></span>
            </div>
        </div>


        <div class="modal fade" tabindex="-1" role="dialog" id="modal-{{parentId}}_{{nickname}}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">
                            {{summary}} <span class="http_method badge {{#if deprecated}}badge-secondary{{else}}{{methodBadgeClass method}}{{/if}}">{{method}}</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="response">
                            <small class="text-uppercase">Request URL</small>
                            <div class="mt-2 mb-3 request_url"></div>

                            <small class="text-uppercase">Response Body</small>
                            <div class="mt-2 mb-3 response_body"></div>

                            <small class="text-uppercase">Response Code</small>
                            <div class="mt-2 mb-3 response_code"></div>

                            <small class="text-uppercase">Response Headers</small>
                            <div class="mt-2 response_headers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr class="m-0"/>
</div>