<div class="form-group row">
    <label class="param-property text-nowrap col-lg-3 col-xl-2 text-lg-right col-form-label">
        {{name}}:</br>
        <small class="text-muted"><em>({{this.in}})</em></small>
    </label>
    <div class="param-property col-lg-9 col-xl-10" data-label="{{name}}">
        {{#if isList}}
            <select {{#isArray this}} multiple="multiple"{{/isArray}} class="parameter form-control {{#if required}}required{{/if}}" {{#if readOnly}}readonly disabled{{/if}} name="{{name}}">
                {{#if required}}
                {{else}}
                    {{#if default}}
                    {{else}}
                        <option selected="" value=""></option>
                    {{/if}}
                {{/if}}
                {{#each allowableValues.descriptiveValues}}
                    <option {{#if isDefault}}selected=""{{/if}} value="{{value}}">{{value}} {{#if isDefault}}(default){{/if}}</option>
                {{/each}}
            </select>
        {{else}}{{#if isFile}}
            <label class="btn btn-secondary btn-sm {{#if required}}required{{/if}}" for="{{name}}-file-selector" {{#if readOnly}}disabled{{/if}}>
                <input id="{{name}}-file-selector" {{#if readOnly}}readonly disabled{{/if}} type="file" style="display:none;" name="{{name}}">
                Choose file
            </label>
        {{else}}{{#if isBody}}
            <textarea class="body-textarea form-control {{#if required}}required{{/if}}" {{#if readOnly}}readonly disabled{{/if}} placeholder="{{#if required}}(required) {{/if}}{{example}}" name="{{name}}" rows="3">{{default}}</textarea>
        {{else}}
            <input class="parameter form-control {{#if required}}required{{/if}}" {{#if readOnly}}readonly disabled{{/if}} minlength="{{#if required}}1{{else}}0{{/if}}" name="{{name}}" placeholder="{{#if required}}(required) {{/if}}{{example}}" type="{{inputType}}" value="{{default}}" />
        {{/if}}{{/if}}{{/if}}
        <div class="parameter-content-type"/>
        <div class="small-description media mt-2">
            {{#if type}}
                <small><pre class="mb-0 mr-2"><code class="code-signature hljs rounded">{{type}}</code></pre></small>
            {{/if}}
            <div class="media-body">
                <small class="text-muted">{{this.description}}</small>
            </div>
        </div>
    </div>
</div>