<div id="accordion-{{id}}" role="tablist" data-children=".sample-item">
    <div class="sample-item">
        <a class="accordion-link py-2 my-2 text-uppercase" href="#sample-{{id}}" data-control data-toggle="collapse" data-parent="#accordion-{{id}}">{{type}} Sample</a>
        <div data-content class="collapse show" id="sample-{{id}}">
            <div class="sample-snippet rounded">
                <pre><code>{{sampleJSON}}</code></pre>
            </div>
        </div>
    </div>

    {{#if signature}}
        <div class="sample-item">
            <a class="accordion-link py-2 my-2 text-uppercase" href="#schema-{{id}}" data-control data-toggle="collapse" data-parent="#accordion-{{id}}">{{type}} Schema</a>
            <div data-content class="collapse" id="schema-{{id}}">
                <div class="schema-description rounded">
                    {{{signature}}}
                </div>
            </div>
        </div>
    {{/if}}
</div>